.xboxgreen {
    background-color: #00a379;
    color: white;
}

.upvoted-favourited {
    color: #00a379 
}

.insta {
    background: radial-gradient(circle at 33% 100%, #FED373 4%, #F15245 30%, #D92E7F 62%, #9B36B7 85%, #515ECF);
    border-radius: 32%
}

.formulario {
    text-align: left;
    margin-left: 0.45cm;
    margin-right: 0.45cm;
    padding-top: 0.45cm;
    padding-bottom: 0.45cm;
}

#dropdown-options {
    left:10px;
}

@media (min-width: 992px){

    #dropdown-options {
        left:-25px;
    }
}

#dropdown-login {
    left:10px;
}

@media (min-width: 992px){

    #dropdown-login {
        left:-100px;
    }
}
.nav-item>a:hover {
    background-color: #00bc8c;
}

.nav-link {
    font-weight: bold !important;
    font-size: 0.5cm;
}

#id_username {
    width: 5cm
}

#id_password {
    width: 5cm
}

@media (min-width: 1200px) {
    .container {
        max-width: 1500px !important;
    }
}

.back-to-top {
    font-size: 1cm;
    background: none;
    margin: 0;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 70px;
    height: 70px;
    z-index: 100;
    display: none;
    text-decoration: none;
    color: #2DAB11;
    margin-right: 0.5cm
}

.back-to-top i {
    font-size: 60px;
}

.icon-bar {
    position: fixed;
    top: 55%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

@media (max-width: 1600px) {
    .icon-bar {
        display: none
    }
}

.icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
}

.icon-bar a:hover {
        background-color: #000;
}

.facebook {
    background: #3B5998;
    color: white;
}

.twitter {
    background: #55ACEE;
    color: white;
}

.google {
    background: #dd4b39;
    color: white;
}

.linkedin {
    background: #007bb5;
    color: white;
}

.youtube {
    background: #bb0000;
    color: white;
}

.content {
    margin-left: 75px;
    font-size: 30px;
}

.fixedPreviewDiv {
    background-color: #fff;
    /* shadows and rounded borders */
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.3);
    padding-top: 1cm;
    padding-bottom: 1cm;
    padding-left: 1cm;
    padding-right: 1cm;
    width: 8cm; 
    height: 740px
}

.main-login {
    background-color: #fff;
    /* shadows and rounded borders */
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.3);
}

.main-center {
    margin: 0 auto;
    margin-top: 5%;
    max-width: 750px;
    padding: 40px 40px;
}

.input-error {
    border-color: red !important
}

.navbar-margin {
    margin-left: 0.25cm
}