{% extends 'base.html' %}
{% block content %}
    <div class="jumbotron" style="margin-top: 10%; padding: 5%; border: 5px double #00a379;">
        <h1 class="display-4 text-center">404 Page not found 
            <img class="text-center" style="width: 10%; height: 100px;"
            src="/static/img/sad-donkey.png">
        </h1>
        <hr class="my-4">
        <p class="lead text-center">The page you are looking for might have been removed, had its name changed, or is temporarily unavailable.
            <br><br>
            <a class="btn btn-light btn-lg text-center" href="{% url 'home' %}" role="button"><i class="fas fa-home"></i>&nbsp;Take me home</a>    
        </p>
    </div>
{% endblock %}
