<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>
        {% block title %} Scannect {% endblock %}
    </title>

    {% load static %}

    <link rel="shortcut icon" type="image/png" href="{% static 'img/scannect.png' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />

    <style>
        html,
        body {
            height: 100%;
            width: 100%;
            /* background-image: linear-gradient(to right bottom, #575d5e, #717a79, #8d9793, #adb6ad, #d0d4c7);
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%; */
            background-color: #E8E8E8 !important;
        }

        .navbar {
            padding-top: 0cm !important;
            padding-bottom: 0cm !important;
        }

    </style>

    {% block styles %} {% endblock %}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.10/js/all.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="{% static "js/main.js" %}"></script>
    {% block scripts %}
    <script>
        $(document).ready(function () {
            $('#dropdown-login').click(function (e) {
                e.stopPropagation();
            });
        })

        $(document).ready(function() {
            var duration = 300;
            $('.back-to-top').hide();
            $(window).scroll(function() {
                if ($(this).scrollTop() > 0) {
                    $('.back-to-top').fadeIn(duration);
                } else {
                    $('.back-to-top').fadeOut(duration);
                }
            });

            $('.back-to-top').click(function(event) {
                event.preventDefault();
                jQuery('html, body').animate({scrollTop: 0}, duration);
                return false;
            })
        });
    </script> 
    {% endblock %}
</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg sticky-top xboxgreen">
        <a class="navbar-item" href="/" style="text-decoration:none;">
            <image width="200px" height="50px" src="{% static "img/logo.png" %}" />
            <image width="75px" height="75px" src="{% static "img/scannect.png" %}" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01"
            aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item navbar-margin">
                    <a class="nav-link" href="{% url 'download_scannect' %}" style="color: white">Download Scannect</a>
                </li>
                {% if user.is_authenticated %}
                <li class="nav-item navbar-margin">
                    <a class="nav-link" href="{% url 'myscans' %}" style="color: white">My scans</a>
                </li>
                <li class="nav-item navbar-margin">
                    <a class="nav-link" href="{% url 'upload' %}" style="color: white">Scan</a>
                </li>
                <li class="nav-item navbar-margin">
                    <a class="nav-link" href="{% url 'favourites' %}" style="color: white">Favourites</a>
                </li>
                {% endif %}
            </ul>
            <ul class="navbar-nav ml-auto">
                {% comment %}<form class="form-inline my-2 my-lg-0 navbar-margin">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                </form>{% endcomment %}
                {% if not user.is_authenticated %}
                <li class="nav-item btn-group navbar-margin {% if login_form.errors %} show {% endif %}">
                    <a class="dropdown-toggle nav-link" {% if login_form.errors %} {% endif %} data-toggle="dropdown" aria-haspopup="true">
                        <i class="fas fa-user"></i>&nbsp;Login/Register
                    </a>
                    <div id="dropdown-login" class="formulario dropdown-menu {% if login_form.errors %} show {% endif %}" style="position: absolute; width: 300px; text-align: center">
                        <div class="col-md-12">
                            <h2>Log In</h2>
                            <form class="form" method="post" action="{% url 'home' %}" accept-charset="UTF-8">
                                {% csrf_token %}
                                <label class="control-label">Username: </label>
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="fas fa-font" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                    <input type="text" class="form-control input-md" name="username" id="id_username" maxlength="25" required="">
                                </div>
                                <label class="control-label">Password: </label>
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="fas fa-lock" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                    <input type="password" class="form-control input-md" name="password" id="id_password" required="">
                                </div>
                                {% if login_form.errors %}
                                <div style="width: 87%; font-size: 85%; margin-top: 0.5cm">
                                    {% for error in login_form.non_field_errors %}
                                    <div class="alert alert-danger">
                                        <strong>{{ error|escape }}</strong>
                                    </div>
                                    {% endfor %}
                                </div>
                                {% endif %}
                                <div class="text-center">
                                    <button type="submit" class="text-center btn xboxgreen">Sign in</button>
                                </div>
                                <div style="margin-left: 0.45cm; margin-top: 0.45cm">New to scannect?
                                    <a href="{% url 'signup' %}">
                                       Register
                                    </a>
                                </div>
                            </form>
                        </div>
                    </div>
                </li>
                {% else %}
                <li class="nav-item dropdown navbar-margin">
                    <a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-haspopup="true">
                        Welcome {{ request.user }}
                    </a>
                    <div class="dropdown-menu" id="dropdown-options" style="position: absolute;">
                        <a class="dropdown-item" href="/edit/profile"><i class="fas fa-cog"></i>&nbsp;Profile</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href= {% url 'logout' %}><i class="fas fa-sign-out-alt"></i>&nbsp;Logout</a>
                    </div>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <div class="icon-bar" id="icon-bar">
        <a href="#" class="facebook"><i class="fab fa-facebook"></i></a>
        <a href="#" class="twitter"><i class="fab fa-twitter"></i></a>
        <a href="#" class="google"><i class="fab fa-google"></i></a>
        <a href="#" class="linkedin"><i class="fab fa-linkedin"></i></a>
        <a href="#" class="youtube"><i class="fab fa-youtube"></i></a>
      </div>

    <!-- Page Content -->
    <div class="container" style="margin-top: 0.8%;">
        {% block content %} {% endblock %}
    </div>
</body>

</html>
