{% extends 'base.html' %}

{% block title %}
    View object
{% endblock %}

{% block scripts %}
    {% load static %}
    <script src="{% static "js/stlViewerController.js" %}"></script>
{% endblock %}

{% block styles %}
<style>

    canvas {
        margin-left: 30%;
        width: 50%;
        height: 50%
    }
    .view {
        width: 50%;
        height: 20%
    }
</style>
{% endblock %}

{% block content %}
    <div class="card text-center" id="preview" style="height: 575px">
        <div class="card-header">
            <b>{{ model.name }} by {{ model.user }}</b>
        </div>
        <iframe class="card-img-top" id="vs_iframe" src="http://www.viewstl.com/?embedded&url={{ model_url }}&bgcolor=green&color=white&shading=flat&rotation=yes&clean=yes&noborder=yes&orientation=front&edges=no" style="padding: 0;border:0;margin:0;width:100%;height:100%;"></iframe>
        <div class="card-body form-inline" style="height: 1.5cm; padding-top: 0.2cm">
            <div class="col-2">
                <div class="btn-group">
                    <button type="button" class="btn btn-outline-success btn-sm" id="orientation" value="top">Up</button>
                    <button type="button" class="btn btn-outline-success btn-sm" id="orientation" value="left">Left</button>
                    <button type="button" class="btn btn-outline-success btn-sm" id="orientation" value="right">Right</button>
                    <button type="button" class="btn btn-outline-success btn-sm" id="orientation" value="bottom">Down</button>
                </div>
            </div>
            <div class="col-4">
                <div class="row">
                    <div class="col-4">
                        Color:
                        <input id='color' type="color">
                    </div>
                    <div class="col-8">
                        Background Color:
                        <input id='bgcolor' type="color">
                    </div>
                </div>
            </div>
            <div class="col-1">
                <select id="shading"  class="custom-select">
                    <option selected disabled>-- Shading --</option>
                    <option value="flat">Flat</option>
                   <option value="smooth">Smooth</option>
                    <option value="wireframe">Wireframe</option>
                </select>
            </div>
            <div class="col-5 text-right">
                {% if request.user.is_authenticated and request.user.profile.user != model.user %}
                    {% if model not in request.user.profile.upvotes.all %}
                        <button class="btn btn-light upvote" data-id='{{ model.id }}' type="button"><i class="far fa-thumbs-up"></i>&nbsp;{{model.upvoted_scans.count}}</button>
                    {% else %}
                        <button class="btn btn-light upvote" data-id='{{ model.id }}'
                                style="color: #00a379"><i class="far fa-thumbs-up"></i>&nbsp;{{model.upvoted_scans.count}}</button>
                    {% endif %}
                    {% if model not in request.user.profile.favourites.all %}
                        <button class="btn btn-light favourite" data-id='{{ model.id }}' type="button"><i class="far fa-star"></i>&nbsp;{{model.favourite_scans.count}}</button>
                    {% else %}
                        <button class="btn btn-light favourite" data-id='{{ model.id }}' style="color: #00a379"><i class="fas fa-star"></i>&nbsp;{{model.favourite_scans.count}}</button>
                    {% endif %}
                {% else %}
                    <span class="btn btn-light"><i class="far fa-thumbs-up"></i>&nbsp;{{model.upvoted_scans.count}}</span>
                    <span class="btn btn-light"><i class="fas fa-star"></i>&nbsp;{{model.favourite_scans.count}}</span>
                {% endif %}
                <a class="btn btn-light" href="{{ model.file.url }}" download><i class="fas fa-download"></i></a>
            </div>
        </div>
    </div>
    {% if error %}
        {{ error }}
    {% endif %}
{% endblock %}
