{% extends 'base.html' %}
{% block content %}
    <div class="jumbotron" style="background-color: #E8E8E8; margin-top: 5%">
        <h1 class="display-4 text-center">Downloads</h1>
        <hr class="my-4">
        <div class="row text-center" style="margin-top: 1cm">
            <div class="col">
                <i class="fab fa-windows fa-7x"></i>
                <legend>Windows</legend>
            </div>
            <div class="col">
                <i class="fab fa-linux fa-7x"></i>
                <legend>Linux</legend>
                <p>Fedora 24:
                    <a href="/static/distros/distFedora.zip">Download</a>
                </p>
                <p>Ubuntu: 
                    <a href="/static/distros/distUbuntu.zip">Download</a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}
