<div class="form-horizontal" style="padding: 1cm">
    <div class="row">
        <div class="col-6">
            <form action="{% url 'settings' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
                <div class="form-group">
                    <legend>Edit your profile</legend>
                    <label class="control-label" for="id_name">Photo:</label>
                    <div class="custom-file input-group mb-2">
                        <input type="file" name="image" class="custom-file-input" id="id_image">
                        <label class="custom-file-label" for="id_image"><i class="far fa-image"></i> Choose file...</label>
                    </div>
                    <label class="control-label">First name: </label>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><i class="fas fa-font" aria-hidden="true"></i></div>
                        </div>
                        <input id="id_first_name" name="first_name" type="text" maxlength=25 required placeholder="Patito" value="{{ edit_form.initial.first_name }}" class="form-control input-md">
                    </div>
                    <label class="control-label">Last name: </label>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><i class="fas fa-font" aria-hidden="true"></i></div>
                        </div>
                        <input id="id_last_name" name="last_name" type="text" maxlength=40 required placeholder="El Chocolatero" value="{{ edit_form.initial.last_name }}" class="form-control input-md">
                    </div>
                    <label class="control-label">Email: </label>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">@</div>
                        </div>
                        <input id="id_email" name="email" type="email" maxlength=254 placeholder="example@scannect.com" required value="{{ edit_form.initial.email }}" class="form-control input-md">
                    </div>
                    <label class="control-label">Username: </label>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <i class="fas fa-user"></i>
                            </div>
                        </div>
                        <input name="username" required type="text" placeholder="userexample" value="{{ edit_form.initial.username }}" class="form-control input-md">
                    </div>
                </div>
                {% if edit_form.errors or profile_form.errors %}
                    <div class="alert alert-dismissible fade show alert-danger">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <strong>Invalid form data.</strong>
                    </div>
                {% endif %}
                <div class="text-center">
                    <button type="submit" class=" text-center btn xboxgreen">Change information</button>
                </div>
            </form>
        </div>
        <div class="col-6">
            <form action="{% url 'change_password' %}" method="post">
            {% csrf_token %}
            <legend>Change Password</legend>
            <label class="control-label">Old Password: </label>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <i class="fas fa-lock"></i>
                    </div>
                </div>
                <input type="password"  class="form-control input-md" name="old_password" required id="id_old_password">
            </div>
            <label class="control-label">New Password: </label>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <i class="fas fa-lock"></i>
                    </div>
                </div>
                <input type="password"  class="form-control input-md" name="new_password1" required id="id_new_password1">
            </div>
            <label class="control-label">Confirm Password: </label>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <i class="fas fa-check"></i>
                    </div>
                </div>
                <input type="password"  class="form-control input-md" name="new_password2" required id="id_new_password2">
            </div>
            <small class="text-muted">{{ password_form.new_password1.help_text|safe }}</small>
            {% if messages %}
            <div style="font-size: 85%; margin-top: 0.5cm">
                {% for message in messages %}
                    {% if message.tags == 'error' %}
                    <div class="alert alert-dismissible fade show alert-danger">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <strong>{{ message }}</strong>
                    </div>
                    {% elif message.tags == 'success' %}
                    <div class="alert alert-dismissible fade show alert-success">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <strong>{{ message }}</strong>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
            {% endif %}
            <div class="text-center">
                <button type="submit" class=" text-center btn xboxgreen">Change password</button>
            </div>
            </form>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-6">
            <legend>Delete your account</legend>
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModalCenter">
                <i class="far fa-trash-alt"></i>
                &nbsp;Delete account
            </button>
            <form method="POST" action="{% url 'delete_account' %}">
                {% csrf_token %}
                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Are you sure?</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-danger"><i class="far fa-trash-alt"></i>&nbsp;Delete</button>
                        </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
