{% extends 'base.html' %}
{% block title %}
    Edit model
{% endblock %}
{% block scripts %}
    {% load static %}
    <script src="{% static "js/stlViewerController.js" %}"></script>
    <script src="{% static "js/uploadSTL.js" %}"></script>
{% endblock %}
{% block content %}
    <br><br>
    <form enctype="multipart/form-data" action="{% url 'edit' id=model_id %}" class="form-horizontal main-login main-center" method="post">
        {% csrf_token %}
        {{ edit_form.as_p }}
        <button type="submit">Upload</button>
        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endif %}
    </form>

    <iframe id="vs_iframe" src="http://www.viewstl.com/?embedded&url={{ model_url }}&local&bgcolor=green&color=white&shading=flat&rotation=yes&clean=yes&noborder=yes&orientation=front&edges=no" style="border:0;margin:0;width:100%;height:100%;"></iframe>

{% endblock %}
