{% extends 'base.html' %}
{% block content %}
    <div class="jumbotron text-center" style="background-color: #E8E8E8">
        <h1 class="display-4">Scanning guide!</h1>
        <p class="lead">This guide will explain how to generate a ply file and convert it into a 3d stl model.</p>
        <hr class="my-4">
        <p>1 - You have to download our application <a href="/download_scannect">Scannect</a>, 
            this will allow you using the kinect camera to generate a pointcloud (ply file).</p>
        <p>2 - Connect your kinect camera and press play. Select where do you want to get your ply file
            and press capture when you are ready to scan the object.
            <img class="text-center" style="width: 45%; height: 400px;"
            src="/static/img/guide1.png">
            <img class="text-center" style="width: 45%; height: 400px;"
            src="/static/img/guide2.png">
        </p>
        <p>3 - You must download <a href="https://sourceforge.net/projects/meshlab/">Meshlab</a>, an advanced 3D mesh processing software system oriented to the management and processing of unstructured large meshes.</p>
        <p>4 - Import your ply file in Meshlab. (File > Import Mesh)</p>
            <img class="text-center" style="width: 50%; height: 400px;"
            src="/static/img/guide3.png">
        <p>5 - Compute the normals of the point set. (Filters > Normals Curvatures and Orientation > Compute Normals For Pointsets)
            <img class="text-center" style="width: 75%; height: 600px;margin: 0 auto"
            src="/static/img/guide4.png">
        </p>
        <p>6 - Create the mesh through the pointcloud. (Filters > Remeshing, Simplification and Reconstruction > Surface Reconstruction: Poisson )
            <img class="text-center" style="width: 75%; height: 600px;margin: 0 auto"
            src="/static/img/guide5.png">
        </p>
        <p>7 - Export the created mesh as a stl file ( Export Mesh As > Files of type : .stl or .obj)</p>
        <legend>And that's it! Easy peasy lemon squeezy!&nbsp;<i class="far fa-lemon"></i></legend>
    </div>
{% endblock %}
