{% extends 'base.html' %}
{% load web_extras %}
{% block content %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Success!</strong> {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}
    {% endif %}
    <div class="row form-inline">
        <div class="col">
            <h1 class="my-4 text-center text-lg-left">Most downloaded models</h1>
        </div>
        <div class="col">
            <select onchange="location = this.value;" class="custom-select mb-2 mr-sm-2 mb-sm-0">
                <option {% if filter == 'upvote' %} selected disabled {% endif %} value="{% url 'home' %}?page=1&filter=upvote">Upvotes</option>
                <option {% if filter == 'date_asc' %} selected disabled {% endif %} value="{% url 'home' %}?page=1&filter=date_asc">Oldest</option>
                <option {% if filter == 'date_desc' %} selected disabled {% endif %} value="{% url 'home' %}?page=1&filter=date_desc">Recent</option>
            </select>
        </div>
        <div class="col">
            {% include 'pagination.html' %}
        </div>
    </div>
    <div class="row text-center text-lg-left">
        {% for model in models %}
        <div class="card mb-3" style="max-width: 6cm; margin-left: 0.25cm; border-radius: 5px">
            <a href="{% url 'detail' id=model.id %}" >
                <img class="card-img-top img-fluid img-thumbnail" 
                    style="width: 100%; height: 195px;"
                    src="{% if not model.preview_image %}
                            /static/img/scannect.png
                        {% else %}
                            {{ model.preview_image.url }}
                        {% endif %}" 
                    alt="">
            </a>
            <div class="card-body">
                <h5 class="card-title">
                    <a href="{% url 'detail' id=model.id %}">{{ model.name }}</a>
                    by
                    <a href="{% url 'visit_user' user=model.user.id %}">{{ model.user.username }}</a>
                </h5>
                {% if request.user.is_authenticated and request.user.profile.user != model.user %}
                    {% if model not in request.user.profile.upvotes.all %}
                        <button class="btn btn-light upvote" data-id='{{ model.id }}' type="button"><i class="far fa-thumbs-up"></i>&nbsp;{{model.upvoted_scans.count}}</button>
                    {% else %}
                        <button class="btn btn-light upvote" data-id='{{ model.id }}'
                        style="color: #00a379"><i class="far fa-thumbs-up"></i>&nbsp;{{model.upvoted_scans.count}}</button>
                    {% endif %}
                    {% if model not in request.user.profile.favourites.all %}
                        <button class="btn btn-light favourite" data-id='{{ model.id }}' type="button"><i class="far fa-star"></i>&nbsp;{{model.favourite_scans.count}}</button>
                    {% else %}
                        <button class="btn btn-light favourite" data-id='{{ model.id }}' style="color: #00a379"><i class="fas fa-star"></i>&nbsp;{{model.favourite_scans.count}}</button>
                    {% endif %}
                {% else %}
                    <span class="btn btn-light"><i class="far fa-thumbs-up"></i>&nbsp;{{model.upvoted_scans.count}}</span>
                    <span class="btn btn-light"><i class="fas fa-star"></i>&nbsp;{{model.favourite_scans.count}}</span>
                {% endif %}
                <a class="btn btn-light" href="{{ model.file.url }}" download><i class="fas fa-download"></i></a>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
