<div class="form-horizontal" style="padding: 1cm">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                {% csrf_token %}
                <div class="form-group text-center">
                    <b>{{ request.user }} </b>
                    <p>{{ request.user.email }} </p>
                </div>
            </div>
        </div>
    </div>
    