{% if models.has_other_pages %}
    <nav aria-label="Page navigation example" style="margin-top: 2%">
        <ul class="pagination justify-content-end">
            {% if models.has_previous %}
            <li>
                <a class="page-link" href="?page={{ models.previous_page_number }}{% if request.GET.filter %}&filter={{request.GET.filter}}{% endif %}">Previous</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#">Previous</a>
            </li>
            {% endif %}

            {% for i in models.paginator.page_range %}
                {% if models.number == i %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#">{{ i }}</a>
                    </li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ i }}{% if request.GET.filter %}&filter={{request.GET.filter}}{% endif %}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}
            {% if models.has_next %}
            <li>
                <a class="page-link" href="?page={{ models.next_page_number }}{% if request.GET.filter %}&filter={{request.GET.filter}}{% endif %}">Next</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#">Next</a>
            </li>
            {% endif %}
        </ul>
    </nav>
{% endif %}