{% extends 'base.html' %}
{% block title %}
    Profile
{% endblock %}
{% block content %}
    {{ request.user.username }}<br />
    {{ request.user.first_name }}<br />
    {{ request.user.last_name }}<br />
    {{ request.user.email }}<br />
    <img class="img-fluid img-thumbnail" style="width: 200px; height: 200px; border-radius: 50%"
         src="
            {% if request.user.profile.image %}
                {{ request.user.profile.image.url }}
            {% else %}
                /static/img/shrek.jpg
            {% endif %}" alt="">
    <a href="{% url 'edit_profile' %}">Editar</a>
    <form method="POST" action="{% url 'delete_account' %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Delete account</button>
    </form>
{% endblock %}
