{% extends 'base.html' %}
{% block title %}
    Settings
{% endblock %}

{% block scripts %}

    <script>

    $( document ).ready(function () {

        $('#id_image').on('change', function () {

             if (this.files && this.files[0]) {
                 var reader = new FileReader();
                 reader.onload = function(e) {
                     $('img#profile_picture').attr('src',e.target.result);
                 };
                 reader.readAsDataURL(this.files[0]);
             }
        });

    });
    </script>

{% endblock %}

{% block content %}
<div style="margin-top: 4%">
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link {% if not messages and not edit_form.errors and not profile_form.errors %} active {% endif %}" id="nav-home-tab" style="color: #00a379" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Profile</a>
            <a class="nav-item nav-link {% if messages or edit_form.errors  or profile_form.errors  %} active {% endif %}" id="nav-profile-tab" style="color: #00a379" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Edit</a>
        </div>
    </nav>
    <div class="tab-content main-login" style="border-top-left-radius: 0px;" id="nav-tabContent">
        <div style="height: 50px" class=" text-center">
            <img class="img-fluid img-thumbnail" 
            style=" z-index: 1;width: 150px; margin-top: -75px; height: 150px; border-radius: 50%"
            id="profile_picture"
            src="
                    {% if request.user.profile.image %}
                        {{ request.user.profile.image.url }}
                    {% else %}
                        /static/img/shrek.jpg
                    {% endif %}"
            alt="">
        </div>
        <div class="tab-pane fade {% if not messages and not edit_form.errors and not profile_form.errors %} show active {% endif %}" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            {% include 'info_profile.html' %}
        </div>
        <div class="tab-pane fade {% if messages or edit_form.errors or profile_form.errors %} show active {% endif %}" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
            {% include 'edit_profile.html' %}
        </div>
    </div>
</div>
  {% endblock %}