{% extends 'base.html' %}

{% block title %}
    SignUp
{% endblock %}
{% block content %}
    <form action="signup" class="form-horizontal main-login main-center" method="post">
        {% csrf_token %}
        <h1>Sign Up</h1>
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label class="control-label">First name: </label>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><i class="fas fa-font" aria-hidden="true"></i></div>
                        </div>
                        <input 
                        class=" form-control input-md {% if signup_form.errors.first_name %} input-error {% endif %}" 
                        type="text" name="first_name" maxlength="25" required id="id_first_name">
                    </div>
                    {% if signup_form.errors.first_name %}
                    <div class="alert alert-dismissible fade show alert-danger">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <strong class="form-text text-muted">{{ signup_form.first_name.errors.as_text }}</strong>
                    </div>
                    {% endif %}
                    <label class="control-label">Last name: </label>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text"><i class="fas fa-font" aria-hidden="true"></i></div>
                        </div>
                        <input 
                        class="{% if signup_form.errors.last_name %} input-error {% endif %} form-control input-md" 
                        type="text" name="last_name" maxlength="50" required id="id_last_name">
                    </div>
                    {% if signup_form.errors.last_name %}
                    <div class="alert alert-dismissible fade show alert-danger">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <strong class="form-text text-muted">{{ signup_form.last_name.errors.as_text }}</strong>
                    </div>
                    {% endif %}
                    <label class="control-label">Email: </label>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">@</div>
                        </div>
                        <input type="email" name="email" maxlength="254" required 
                        class="form-control input-md {% if signup_form.errors.email %} input-error {% endif %}" id="id_email">
                    </div>
                    {% if signup_form.errors.email %}
                    <div class="alert alert-dismissible fade show alert-danger">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <strong class="form-text text-muted">{{ signup_form.email.errors.as_text }}</strong>
                    </div>
                    {% endif %}
                    <label class="control-label">Username: </label>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <i class="fas fa-user"></i>
                            </div>
                        </div>
                        <input type="text" name="username" maxlength="150" autofocus="" required 
                        class="form-control input-md {% if signup_form.errors.username %} input-error {% endif %}" id="id_username">
                        <small class="text-muted">{{ signup_form.username.help_text }}</small>
                    </div>
                    {% if signup_form.errors.username %}
                    <div class="alert alert-dismissible fade show alert-danger">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <strong class="form-text text-muted">{{ signup_form.username.errors.as_text }}</strong>
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="col-6">
                <label class="control-label">Password: </label>
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fas fa-lock"></i>
                        </div>
                    </div>
                    <input type="password" name="password1" required 
                    class="form-control input-md {% if signup_form.errors.first_name %} input-error {% endif %}" id="id_password1">
                    <small class="form-text text-muted">{{ signup_form.password1.help_text|safe }}</small>
                </div>
                {% if signup_form.errors.password1 %}
                <div class="alert alert-dismissible fade show alert-danger">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <strong class="form-text text-muted">{{ signup_form.password1.errors.as_text }}</strong>
                </div>
                {% endif %}
                <label class="control-label">Password confirmation: </label>
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fas fa-check"></i>
                        </div>
                    </div>
                    <input type="password" name="password2" required 
                    class="form-control input-md {% if signup_form.errors.first_name %} input-error {% endif %}" id="id_password2">
                    <small class="text-muted">{{ signup_form.password2.help_text }}</small>
                </div>
                {% if signup_form.errors.password2 %}
                <div class="alert alert-dismissible fade show alert-danger">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <strong class="form-text text-muted">{{ signup_form.password2.errors.as_text }}</strong>
                </div>
                {% endif %}
            </div>
        </div>
        <!-- {% if signup_form.errors %}
        {% for field in signup_form %}
            {% for error in field.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in signup_form.non_field_errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
        {% endif %} -->
        <div class="text-center">
            <button type="submit" class=" text-center btn xboxgreen">Sign up</button>
        </div>
    </form>

{% endblock %}
