{% extends 'base.html' %}

{% block title %}
    Upload
{% endblock %}

{% block scripts %}
    {% load static %}
    <script src="{% static "js/stlViewerController.js" %}"></script>
    <script src="{% static "js/uploadSTL.js" %}"></script>
{% endblock %}

{% block content %}
    <div class="row " style="margin-top: 5%;">
        <div class="fixedPreviewDiv" >
            <h1>Upload</h1>
            <form id="upload_form" action="upload" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label for="id_name">Name:</label>
                    <input type="text" name="name" id="id_name" required="" maxlength="50">
                </div>
                <div class="form-group">
                    <div class="custom-file">
                        <input type="file" name="file" accept=".stl" class="custom-file-input" id="id_file" required>
                        <label class="custom-file-label" for="id_file"><i class="far fa-folder-open"></i> Choose file...</label>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" class="btn xboxgreen" value="Submit">
                    <button type="button" class="btn btn-outline-success btn-sm" id="take_photo"><i class="fas fa-camera"></i>&nbsp;Photo</button>
                </div>
                <textarea name="preview_image" id="id_preview_image" hidden></textarea>
            </form>
            <form>
                <div class="row form-group">
                    <div class="col-6">
                        <label for="bgcolor">Background:</label>
                        <input id="bgcolor" class="form-control" style="padding:0%; padding-right: 10px; padding-left: 10px;" type="color">
                    </div>
                    <div class="col-6">
                        <label for="bgcolor">Object:</label>
                        <input id="color" class="form-control" style="padding:0%; padding-right: 10px; padding-left: 10px;"  type="color">
                    </div>
                </div>
                <div class="form-group">
                    <select id="shading"  class="custom-select">
                        <option selected disabled>-- Shading --</option>
                        <option value="flat">Flat</option>
                        <option value="smooth">Smooth</option>
                        <option value="wireframe">Wireframe</option>
                    </select>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-outline-success btn-sm" id="orientation" value="top">Up</button>
                    <button type="button" class="btn btn-outline-success btn-sm" id="orientation" value="left">Left</button>
                    <button type="button" class="btn btn-outline-success btn-sm" id="orientation" value="right">Right</button>
                    <button type="button" class="btn btn-outline-success btn-sm" id="orientation" value="bottom">Down</button>
                </div>
                <div style="width: 3cm; height: 3cm; z-index: 1;">
                    <h6 id="pictureTitle"></h6>
                    <div id="picture" style="width: 100%;">
                    </div>
                </div>
            </form>
        </div>
        <div class="col-9">
            <div id="preview" style="height: 750px">
                <img style="width: 100%; height: 700px;"
                src="/static/img/giphy.gif">
                <legend style="margin-top: 0.2cm">Waiting for your file...</legend>
            </div>
        </div>
    </div>
    {% if error %}
        {{ error }}
    {% endif %}
    {% if file_form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}
