{% extends 'base.html' %}
{% load web_extras %}
{% block content %}
    <div class="row">
        <div class="col">
            <h1 class="my-4 text-center text-lg-left">Your favourite models</h1>
        </div>
        <div class="col">
            {% include 'pagination.html' %}
        </div>
    </div>
    <div class="row text-center text-lg-left">
        {% for model in models %}
        <div class="card mb-3" style="max-width: 6cm; margin-left: 0.25cm; border-radius: 5px">
            <a href="{% url 'detail' id=model.id %}">
                <img class="card-img-top img-fluid img-thumbnail" 
                    style="width: 100%; height: 195px;"
                    src="{% if not model.preview_image %}
                            /static/img/scannect.png
                        {% else %}
                            {{ model.preview_image.url }}
                        {% endif %}" 
                    alt="">
            </a>
            <div class="card-body">
                <a href="{% url 'detail' id=model.id %}">
                    <h5 class="card-title">{{ model.name }} by {{ model.user.username }}</h5>
                    <span class="btn btn-light"><i class="far fa-thumbs-up"></i>&nbsp;{{model.upvoted_scans.count}}</span>
                    <span class="btn btn-light" style="color: #00a379"><i class="fas fa-star"></i>&nbsp;{{model.favourite_scans.count}}</span>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
