{% extends 'base.html' %}

{% block title %}
    View object
{% endblock %}

{% block scripts %}
    {% load static %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r68/three.min.js"></script>
    <script src="https://rawgit.com/mrdoob/three.js/master/examples/js/controls/TrackballControls.js"></script>
    <script src="{% static "js/stl.js" %}"></script>
    <script src="{% static "js/loaderPropio.js" %}"></script>
{% endblock %}

{% block styles %}
<style>

    canvas {
        margin-left: 30%;
        width: 50%;
        height: 50%
    }
    .view {
        width: 50%;
        height: 20%
    }
</style>
{% endblock %}

{% block content %}
      <h2>Concepto</h2>
      <input type="button" onclick="loadObject()" value="Cargar Objeto" >
      <input type="file" id="STLFile" />

{% endblock %}
