{% extends 'base.html' %}
{% load web_extras %}
{% block title %}
    {{ visited_user }} Scans
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col">
            <h1 class="my-4 text-center text-lg-left">{{ visited_user }} scans</h1>
        </div>
        <div class="col">
            {% include 'pagination.html' %}
        </div>
    </div>
    {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
          {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
          {{ message }}
      </li>
    {% endfor %}
    <div class="row text-center text-lg-left">
        {% for model in models %}
        <div class="card mb-3" style="max-width: 6cm; margin-left: 0.25cm; border-radius: 5px">
            <a href="{% url 'detail' id=model.id %}">
                <img class="card-img-top img-fluid img-thumbnail" 
                    style="width: 100%; height: 195px;"
                    src="{% if not model.preview_image %}
                            /static/img/scannect.png
                        {% else %}
                            {{ model.preview_image.url }}
                        {% endif %}" 
                    alt="">
            </a>
            <div class="card-body">
                <a href="{% url 'detail' id=model.id %}">
                    <h5 class="card-title">{{ model.name }} by {{ model.user.username }}</h5>
                </a>
                {% if request.user.is_authenticated and request.user.profile.user != model.user %}
                    {% if model not in request.user.profile.upvotes.all %}
                        <button class="btn btn-light upvote" data-id='{{ model.id }}' type="button"><i class="far fa-thumbs-up"></i>&nbsp;{{model.upvoted_scans.count}}</button>
                    {% else %}
                        <button class="btn btn-light upvote" data-id='{{ model.id }}'
                        style="color: #00a379"><i class="far fa-thumbs-up"></i>&nbsp;{{model.upvoted_scans.count}}</button>
                    {% endif %}
                    {% if model not in request.user.profile.favourites.all %}
                        <button class="btn btn-light favourite" data-id='{{ model.id }}' type="button"><i class="far fa-star"></i>&nbsp;{{model.favourite_scans.count}}</button>
                    {% else %}
                        <button class="btn btn-light favourite" data-id='{{ model.id }}' style="color: #00a379"><i class="fas fa-star"></i>&nbsp;{{model.favourite_scans.count}}</button>
                    {% endif %}
                {% else %}
                    <span class="btn btn-light"><i class="far fa-thumbs-up"></i>&nbsp;{{model.upvoted_scans.count}}</span>
                    <span class="btn btn-light"><i class="fas fa-star"></i>&nbsp;{{model.favourite_scans.count}}</span>
                {% endif %}
                <a class="btn btn-light" href="{{ model.file.url }}" download><i class="fas fa-download"></i></a>
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock %}
